@model IEnumerable<CiudadDollar.Models.Cliente>

@{
    ViewData["Title"] = "Index";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CLienteId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Departamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ciudad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipodonacion)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CLienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipodonacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CLienteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CLienteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CLienteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
